{% from 'priza/macros.html' import result_link with context %}
<div class="panel panel-default infobox">
    <div class="panel-heading">
        <h4 class="panel-title infobox_part"><bdi>{{ infobox.infobox }}</bdi></h4>
    </div>
    <div class="panel-body">
        {% if infobox.img_src %}<img class="img-responsive center-block infobox_part" src="{{ image_proxify(infobox.img_src) }}" alt="{{ infobox.infobox }}" />{% endif %}
        {% if infobox.content %}<bdi><p class="infobox_part">{{ infobox.content }}</bdi></p>{% endif %}

        {% if infobox.attributes %}
        <table class="table table-striped infobox_part">
            {% for attribute in infobox.attributes %}
            <tr>
                <td><bdi>{{ attribute.label }}</bdi></td>
                {% if attribute.image %}
                <td><img class="img-responsive" src="{{ image_proxify(attribute.image.src) }}" alt="{{ attribute.image.alt }}" /></td>
                {% else %}
                <td><bdi>{{ attribute.value }}</bdi></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if infobox.urls %}
        <div class="infobox_part">
            <bdi>
            {% for url in infobox.urls %}
            <p class="btn btn-default btn-xs">{{ result_link(url.url, url.title) }}</a></p>
            {% endfor %}
            </bdi>
        </div>
        {% endif %}
    </div>
</div>
