{% from 'priza/macros.html' import icon %}
<form method="{{ method or 'POST' }}" action="{{ url_for('index') }}" id="search_form" role="search">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="input-group search-margin">
        <input type="search" name="q" class="form-control" id="q" placeholder="{{ _('Search for...') }}" autocomplete="off" value="{{ q }}">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default"><span class="hide_if_nojs">{{ icon('search') }}</span><span class="hidden active_if_nojs">{{ _('Start search') }}</span></button>
        </span>
      </div>
    </div>
    <div class="col-xs-6 col-md-2 search-margin">
        {% include 'priza/time-range.html' %}
    </div>
    <div class="col-xs-6 col-md-2 search-margin">
        {% include 'priza/languages.html' %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        {% include 'priza/categories.html' %}
    </div>
  </div>
</form><!-- / #search_form_full -->
